* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    min-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.inner-container>div>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 44px;
    font-size: 12px;
}

.inner-container #menu-icon {
    display: none;
    font-size: 24px;
    color: red;
}

a {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#logo>a {
    font-size: 24px;
    font-weight: bold;
    color: rgb(139, 0, 0);
}

#logo>a>span {
    color: rgb(248, 219, 219);
}

.header {
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>div {
    min-width: 1024px;
    text-align: left;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-main {
    max-width: 1024px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 300px;     
    min-height: 400px;
}

.inner-main>nav {
    min-width: 100px;
}

.inner-main>nav>h3 {
    font-size: 14px;
    color: rgb(139, 0, 0);
    padding: 15px 0;
}

.inner-main>nav>ul {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
}

.inner-main>main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 725px;
    color: rgb(149, 149, 149);
}

.inner-main>main>section>h3 {
    color: black;
    padding: 3px;
    border: 1px solid black;
    margin: 15px 0;
    background-color: rgb(238, 238, 238);
    max-width: fit-content;
    border-color: rgb(204, 204, 204);
}

.inner-main>main>section>h3>a {
    color: black;
}

.inner-main>main>section>h2 {
    font-size: 18px;
    color: rgb(139, 0, 0);
    padding: 15px 0;
}

.inner-main>main>section>p {
    font-size: 12px;
    line-height: 20px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8DBDB;
    width: 100%;
}

.inner-features {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 200px;
}

.inner-features>div {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

.inner-features>div>h3 {
    font-size: 18px;
    color: rgb(139, 0, 0);

}

.inner-features>div>p {
    line-height: 1.6;
    font-size: 12px;
    color: red;
}

.footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: #959595;
}

@media only screen and (max-width: 1200px) {
    .inner-container {
        min-width: 768px;
    }

    .header>div {
        min-width: 768px;
    }

    .inner-main {
        max-width: 768px;
        gap: 0;     
    }

    .inner-features {
        max-width: 768px;
    }
}

@media only screen and (max-width: 850px) {
    .inner-container {
        min-width: 576px;
    }

    .navigation {
        display: none;
    }

    .inner-container #menu-icon {
        display: block;
    }

    .header>div {
        min-width: 576px;
        gap: 0;     
    }

    .inner-main {
        max-width: 576px;
    }

    .inner-features {
        max-width: 576px;
    }
}

@media only screen and (max-width: 576px) {
    .inner-container {
        min-width: 330px;
    }

    .navigation {
        display: none;
    }

    .inner-container #menu-icon {
        display: block;
    }

    .header>div {
        min-width: 330px;
    }

    .inner-main {
        max-width: 330px;
        gap: 0;     
    }

    .inner-features {
        max-width: 330px;
    }

    .inner-main>nav {
        min-width: 100px;
    }
}