* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.container {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
}

.container ul {
    display: flex;
    gap: 30px;
}

.container ul li {
    list-style-type: none;
    font-size: 12px;
}

.container ul li a {
    text-decoration: none;
    color: red;
}

.logo a {
    color: rgb(139, 0, 0);
    text-decoration: none;
}

.logo span {
    color: rgb(248, 219, 219);
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: red;
    font-size: 24px;
}

header {
    width: 100%;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 0 5%;

}

.inner-header {
    width: 1024px;
    display: flex;
    align-items: center;
    color: rgb(248, 219, 219)
}

main {
    display: flex;
    justify-content: center;
}

.mainSec {
    margin: 30px;
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h3 {
    font-size: 14px;
    color: rgb(139, 0, 0);
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar ul li a {
    font-size: 12px;
    text-decoration: none;
    color: red;
}

.main-section {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-section section p {
    font-size: 12px;
    color: rgb(149, 149, 149);
    line-height: 1.6;
}

.main-section article {
    font-size: 12px;
    color: rgb(149, 149, 149);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-section article h2 {
    color: rgb(139, 0, 0);
}

.main-section h3 {
    background-color: rgb(238, 238, 238);
    border: 1px solid 0.7;
    display: inline;
    font-size: 16px;
    padding: 3px;
}

.main-section h3 a {
    text-decoration: none;
    color: black
}

footer {
    display: flex;
    flex-direction: column;
}

.features {
    background-color: #F8DBDB;
    display: flex;
    justify-content: center;
}

.inner-features {
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
}

.inner-features article {
    max-width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inner-features article h3 {
    font-size: 18px;
    color: rgb(139, 0, 0);
}

.inner-features article p {
    font-size: 12px;
    color: red;
    line-height: 1.6;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.footer p {
    color: #959595;
    font-size: 12px;
}

.footer p a {
    color: red;
    text-decoration: none;
}

@media (max-width: 425px) {

    nav,
    header {
        padding: 0 5%;
    }

    .container ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: rgb(255, 0, 0);
        gap: 0;
        overflow: hidden;
    }

    .container ul li {
        padding: 20px;
    }

    .container ul li a {
        color: white;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transform: all 0.5;
    }

    .mainSec {
        flex-direction: column;
        gap: 50px;
    }

    .inner-features {
        flex-direction: column;
        gap: 30px;
        padding: 5% 5%;
    }

    .footer {
        padding: 5% 0;
    }

    .inner-features article {
        max-width: none;
    }
}

@media (max-width: 768px) {

    nav,
    header {
        padding: 0 5%;
    }

    .mainSec {
        flex-direction: column;
        gap: 50px;
    }

    .inner-features {
        gap: 30px;
        padding: 5% 5%;
    }

    .footer {
        padding: 5% 0;
    }
}